# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

#datafiles
data/*

#results
analysis/bioinf/genome_structure/results

#utilities
utilities/patho_utils
utilities/GenomeAnalysisTK.jar
utilities/pathoscope*
